{% macro wave(color) %}
    <div class='text-{{color}} absolute left-0 right-0 top-0 z-30'>
        <svg class='fill-current transform -translate-y-3 sm:-translate-y-10' viewBox="0 0 1440 48" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 16.7681L364.342 0L606.364 35.8599L979.404 9.58371L1272.93 35.8599L1440 16.7681V48H0V16.7681Z" />
        </svg>
    </div>
{% endmacro %}