---
layout: layouts/base.njk
theme: dark
---

{% import 'components/index.njk' as components %}
{% set page = site[locale].donate %}

{# HERO #}
<header class='flex flex-col justify-center bg-brown text-black px-16'>
    <div class='container mx-auto flex flex-col justify-center items-center py-16 mt-16'>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 110 83" width='110' height='83'>
            <defs>
                <path id="juk1birsta" d="M0.062 0.187L71.165 0.187 71.165 53.819 0.062 53.819z"/>
                <path id="4o44pr4r4c" d="M0.192 0.378L109.118 0.378 109.118 67.978 0.192 67.978z"/>
            </defs>
            <g fill="none" fill-rule="evenodd">
                <g>
                    <g>
                        <path fill="#D46B62" d="M2.938 34.373c-3.474 5.43-2.903 8.56-2.903 8.56s5.813 7.284 15.925 4.11C26.073 43.87 81.91 25.84 81.91 25.84l9.724-6.997s4.584-3.087 2.976-5.104c-1.609-2.018-22.42-9.119-47.2-.848C22.63 21.163 2.937 34.373 2.937 34.373" transform="translate(-670 -268) translate(670 268)"/>
                        <g transform="translate(-670 -268) translate(670 268) translate(13.596 .05)">
                            <mask id="b3u5cayd4b" fill="#fff">
                                <use xlink:href="#juk1birsta"/>
                            </mask>
                            <path fill="#E5A74D" d="M.972 43.4c-2.52-14.574.735-16.04 3.204-17.767-2.89-5.83 3.012-20.006 13.866-14.16 3.149-13.6 16.25-14.544 21.944-4.797 12.047-9.919 19.688.917 19.72 5.22 5.916 1.763 9.656 11.031 11.42 18.163 1.764 7.131-56.722 23.76-56.722 23.76L2.42 49.249.972 43.401z" mask="url(#b3u5cayd4b)"/>
                        </g>
                        <g transform="translate(-670 -268) translate(670 268) translate(0 14.88)">
                            <mask id="0c7242guyd" fill="#fff">
                                <use xlink:href="#4o44pr4r4c"/>
                            </mask>
                            <path fill="#F5A7B8" d="M.192 28.899s15.043 5.857 26.244 2.847c11.201-3.01 30.324-7.754 30.324-7.754s10.72-5.765 12.037-6.258C70.116 17.24 95.127.378 95.127.378l13.484 18.498.507 11.576s-7.866 12.63-13.696 16.37-25.35 16.724-35.933 18.167c-10.583 1.44-28.69 3.517-32.2 2.866-3.51-.653-16.568-6.04-17.184-6.839-.614-.8-7.54-8.947-7.54-8.947L.192 28.9z" mask="url(#0c7242guyd)"/>
                        </g>
                        <path fill="#8F9035" d="M34.288 27.022c6.717 7.467 24.706-3.56 24.706-3.56" transform="translate(-670 -268) translate(670 268)"/>
                    </g>
                </g>
            </g>
        </svg>

        <h1 class=' text-6xl sm:text-7xl leading-small text-center mt-16'>{{page.title}}</h1>


        <div class='sm:max-w-screen-md mx-auto mt-16'>
            <p class='text-xl sm:text-2xl'>{{page.subtitle}}</p>

            <ul class='flex justify-center items-center mt-16 py-8'>
                {% for stat in page.stats %}
                <li class='text-center px:4 sm:px-16 border-r-2 border-gray-300'>
                    <p class='text:2-xl sm:text-5xl leading-none font-bold'>{{ stat.title }}</p>
                    <p class='text-base sm:text-xl mt-2 leading-none'>{{ stat.subtitle }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>

<section class='min-h-screen bg-brown text-black px-4 sm:px-16 pb-32'>
    <div class='max-w-screen-md mx-auto'>
        <form  x-data="{ selected: '', numberOfAnimals: 1, numberOfDays: 1, description:'donation' }">
            <div>
                <p class='text-2xl sm:text-3xl'>{{ page.form.title }} </p>
            </div>

            <div class='mt-8 flex justify-center items-center space-x-8'>

                <label :class="{ 'bg-purple text-white': selected === 'ONCE' }" class=' cursor-pointer text-base sm:text-3xl rounded-xl border-purple border-1 p-4' for="plan-monthly">
                    <input class='hidden' x-on:click="selected = 'ONCE'" id="plan-monthly" type="radio" name="plan" value="premium-monthly">
                    {{ page.form.types[0].label}}
                </label>

                <label :class="{ 'bg-purple text-white': selected === 'MONTHLY' }" class=' cursor-pointer text-base sm:text-3xl rounded-xl border-purple border-1 p-4' for="plan-yearly">
                    <input class='hidden' x-on:click="selected = 'MONTHLY'" id="plan-yearly" type="radio" name="plan" value="premium-yearly">
                    {{ page.form.types[1].label}}
                </label>

            </div>

            <div x-show='selected === "ONCE"' class='w-full mt-8 bg-white shadow-md rounded-xl p-8 text-center'>

                <div>
                    <p class='text-xl'>
                      {{ "Hoću da nahranim " if locale =='sr' else 'I want to feed' }}
                      <span x-text='numberOfAnimals' class='text-2xl'></span> 
                      {% if locale =='sr' %}
                        <span x-text='numberOfAnimals > 1 ? "zivotinje" : "zivotinju"' class='text-2xl'></span>
                      {% else %}
                        <span x-text='numberOfAnimals > 1 ? "animals" : "animal"' class='text-2xl'></span>
                      {% endif %}
                    </p>

                    <div class="length range__slider w-full" data-min="1" data-max="200">
                        <input x-model="numberOfAnimals" id="slider" type="range" min="1" max="200"  value='1' />
                    </div>
                </div>

                <div>
                    <p class='text-xl'>
                      {{ "u periodu od" if locale =='sr' else "in the period of" }}
                      <span x-text='numberOfDays' class='text-2xl'></span> 
                       {% if locale =='sr' %}
                        <span x-text='numberOfDays > 1 ? "dana" : "dana"' class='text-2xl'></span>
                      {% else %}
                        <span x-text='numberOfDays > 1 ? "days" : "day"' class='text-2xl'></span>
                      {% endif %}
                      
                    </p>

                    <div class="length range__slider w-full" data-min="1" data-max="90">
                        <input x-model="numberOfDays" id="slider" type="range" min="1" max="90"  value='1' />
                    </div>
                </div>

                <div>
                    <p class='text-4xl mt-8'>
                        <span x-text='numberOfDays * numberOfAnimals * 40'></span>
                        <span>RSD</span>
                    </p>
                </div>

                <div class='mt-16'>
                    <div  id="smart-button-container">
                        <div style="text-align: center"><label for="description"> </label>
                        <input class='hidden' x-model='description' type="text" name="descriptionInput" id="description" maxlength="127" value=""></div>
                        <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
                        <div style="text-align: center"><label for="amount"> </label>
                        <input class='hidden' x-model='Math.floor((numberOfDays * numberOfAnimals * 40) * 0.0094)'  name="amountInput" type="number" id="amount" >
                        {# <span> USD</span> #}
                        </div>
                        <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
                        <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" ></div>
                        <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
                        <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
                    </div>
                </div>

                {# <div class='mt-16'>
                    <p>Ili uplatom na žiro račun</p>
                </div> #}
            </div>

            <div x-show='selected === "MONTHLY"' class='w-full mt-8 bg-white shadow-md rounded-xl p-8 text-center'>
                {# <a href="https://www.patreon.com/bePatron?u=49771083" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script  src="https://cdn6.patreon.com/becomePatronButton.bundle.js"></script> #}
                  

                  <a target="_tab" href="https://www.patreon.com/join/prihvatiliste_drazevac?" class='px-4 py-3 rounded-full font-serif bg-pateron text-white' >Become a Patreon</a>
            </div>
        </form>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
 <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
  <script>
    function initPayPalButton() {
      var description = document.querySelector('#smart-button-container #description');
      var amount = document.querySelector('#smart-button-container #amount');
      var descriptionError = document.querySelector('#smart-button-container #descriptionError');
      var priceError = document.querySelector('#smart-button-container #priceLabelError');
      var invoiceid = document.querySelector('#smart-button-container #invoiceid');
      var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
      var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

      var elArr = [description, amount];

      if (invoiceidDiv.firstChild.innerHTML.length > 1) {
        invoiceidDiv.style.display = "block";
      }

      var purchase_units = [];
      purchase_units[0] = {};
      purchase_units[0].amount = {};

      function validate(event) {
        return event.value.length > 0;
      }

      paypal.Buttons({
        style: {
          color: 'gold',
          shape: 'rect',
          label: 'paypal',
          layout: 'vertical',
          
        },

        onInit: function (data, actions) {
          actions.enable();
        /* actions.disable();

          if(invoiceidDiv.style.display === "block") {
            elArr.push(invoiceid);
          }

          elArr.forEach(function (item) {
            item.addEventListener('keyup', function (event) {
              var result = elArr.every(validate);
              if (result) {
                actions.enable();
              } else {
                actions.disable();
              }
            });
          });*/
        },

        onClick: function () {
          if (description.value.length < 1) {
            descriptionError.style.visibility = "visible";
          } else {
            descriptionError.style.visibility = "hidden";
          }

          if (amount.value.length < 1) {
            priceError.style.visibility = "visible";
          } else {
            priceError.style.visibility = "hidden";
          }

          if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
            invoiceidError.style.visibility = "visible";
          } else {
            invoiceidError.style.visibility = "hidden";
          }

          purchase_units[0].description = description.value;
          purchase_units[0].amount.value = amount.value;


          //if(invoiceid.value !== '') {
            purchase_units[0].invoice_id = `DRAZEVACWEB-${new Date().toISOString()}`
            //invoiceid.value;
          //}
          console.log(purchase_units)
        },

        createOrder: function (data, actions) {
            console.log('HERE',purchase_units)
          return actions.order.create({
            purchase_units
          });
        },

        onApprove: function (data, actions) {
          return actions.order.capture().then(function (details) {
            alert('Transaction completed by ' + details.payer.name.given_name + '!');
          });
        },

        onError: function (err) {
          console.log(err);
        }
      }).render('#paypal-button-container');
    }
    initPayPalButton();
  </script>
