---
layout: pages/adopt/animals/index.njk  
permalink: "adopt/animals/"
footer: { title: 'Posetite nas', href: '/see' }
locale: "sr"
tags:
  - myPosts
pagination:
  alias: animals
  data: animals
  size: 200
  addAllPagesToCollections: true
---
