---
layout: pages/adopt/animal/index.njk  
permalink: "adopt/animals/{{ animal.href }}/index.html"
footer: { title: 'Posetite nas', href: '/see' }
locale: "sr"
tags:
  - myPosts
pagination:
  alias: animal
  data: animals
  size: 1
  addAllPagesToCollections: true
---