---
layout: pages/adopt/animal/index.njk  
permalink: "{{ locale }}/adopt/animals/{{ animal.href }}/index.html"
footer: { title: 'Visit us', href: '/en/see' }
locale: "en"
tags:
  - myPosts
pagination:
  alias: animal
  data: animals
  size: 1
  addAllPagesToCollections: true
---