---
layout: pages/adopt/animals/index.njk  
permalink: "{{ locale }}/adopt/animals/"
footer: { title: 'Visit us', href: '/en/see' }
locale: "en"
tags:
  - myPosts
pagination:
  alias: animals
  data: animals
  size: 200
  addAllPagesToCollections: true
---
