---
layout: base
theme: dark
---

{# HERO #}
<header class='min-h-screen bg-white text-black '>
    <div class='container mx-auto px-4 sm:px-16 py-16'>
        <header>
            <h1 class='text-6xl sm:text-7xl leading-none mt-32'>
                {{ site[locale].adopt.animals.headline }}
            </h1>
        </header>

        <ul class='grid grid-cols-1 sm:grid-cols-4 gap-4 sm:gap-8 mt-8'>
            {% for animal in animals %}
                <li>
                    <a href="{{ animal.href }}">
                        <figure class='aspect-w-1 aspect-h-1'>
                            <img class='w-full h-full object-cover rounded-xl shadow-yellow-lg' src="{{ animal.image }}" alt="">
                        </figure>
                        <p class='text-2xl sm:text-3xl mt-4'>
                            {{ animal[locale].name }}
                        </p>
                        <p class='opacity-75'>
                            {{ animal[locale].age }}
                        </p>
                    </a>
                </li>
            {%endfor%}
        </ul>
    </div>
</header>